<div class="card mt-5">
    <div class="card-header">Išsaugoti užrašai</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row mb-3" *ngFor="let item of notes; let i = index">
                    <div class="col-md-4">{{item.date}}</div>
                    <div class="col-md-6">{{item.content}}</div>
                    <div class="col-md-2">
                        <button class="btn btn-danger btn-sm" (click)="deleteNote(i)">Ištrinti</button>
                    </div>
                </div>
            </li>

        </ul>
    </div>

</div>